<body>
<h1> Welcome to Rock, Paper, Scissors</h1>

<p> This page is a game, Choose a hand </p>

<div class=buttons>
<a href="/rock">Rock</a>
<a href="/paper">Paper</a>
<a href="/scissors">Scissors</a>
</div>

<div class=img>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/460px-Rock-paper-scissors.svg.png" alt="RPS">
</div>
<iframe width="300" height="150" src="https://www.youtube.com/embed/Ptr0_mV_e3A?autoplay=1&cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
</body>
